
@font-face {
    font-family: 'Palace';
    src: url(../font/Palace_of_Sports.ttf);
}
body {
    font-family: Palace;   
}
.container {
    width: 100%;
    margin: 0 auto;
    height: 5171px;
    
    
}
#color {
    position: absolute;
    background: rgb(255,255,255);
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%, rgba(216,237,255,1) 29%, rgba(216,237,255,1) 100%);
    height: 5700px;
    width: 100%;
    margin: 0 auto  ;
    z-index: -2;
    
}

.ui {

    height: 1891px;
    min-height: 1891px;
    height: 40p;
    /* background-color: black; */
}

h1 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 21vw;
    line-height: 400px;
    justify-content: space-around;
    height: 24vw;
    
}
#chto {
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 5.6vw;
    line-height: 108px;
    height: 3vw;
    margin-bottom: 40vh;
    
}


#obrabotka {
    position: absolute;
    /* top: 1930px; */
    margin-top: 9vh;
    left: 9vw;
    font-weight: 400;
    font-size: 14vw;
    line-height: 108px;
    z-index: 2;
}

#put {
    position: absolute;
    /* margin-top: -56vh; */
    top: 22vw;
    
    right: 2%;
    
    
}



#put p:nth-child(1) {
    font-weight: 400;
    font-size: 7vw;
    line-height: 240px;
    text-align: right;
}
#put p:nth-child(2) {
    font-weight: 400;
    font-size: 15vw;
    line-height: 100px;
    text-align: right;
}


#pyat {
    position: absolute;
    font-weight: 400;
    /* font-size: 1400px; */
    font-size: 65vw;
    line-height: 240px;
    margin-top: 20vh;
    left: 1vw;
}

.xz {
    width: 100%;
    margin-top: -77vh;
    min-height: 23vh;
}

.xz2 {
    width: 100%;
    min-height: 23vh;
    margin-top: -49vh;
}
#etap {
    position: absolute;
    font-weight: 400;
    font-size: 7vw;
    line-height: 240px;
    margin-left: 7vw;
    margin-top: 9vh;
}
#razmetka {
    font-weight: 400;
    position: absolute;
    font-size: 7vw;
    line-height: 240px;
    margin-left: 67vw;
    margin-top: -2vh;
}
#certy{
    position: absolute;
    width: 100%;
    font-weight: 400;
    font-size: 7vw;
    line-height: 240px;
    margin-top: 4vh;
    /* top: 67vh; */
    text-align: end;
}


#ogr {
    width: 748px;
    font-weight: 400;
    font-size: calc(140px + 16 * (100vw / 1920));
    line-height: 140px;
    margin-left: 3vw;
    margin-top: -2vw;
}
#rasp {
    
    font-weight: 400;
    font-size: 7vw;
    line-height: 3vh;
    transform: rotate(-50deg);
    margin-left: 25vw;
    margin-top: 34vh;
}
#volny {
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    top: 40px;
    height: 2130px;
    width: 100%;
    z-index: -1;
}

#poloses {
    position: absolute;
    top: 1227px;
    height: 600px;
    width: 100%;
    z-index: 0;
}


.kamen1 {
    display: inline-flex;
    /* margin-top: 1490px; */
    margin-top: 6vh;
    width: 100%;
    justify-content: flex-end;
}

/* .kamen1 div {
    position: absolute;
    width: 793px;
    height: 702px;
    margin-top: 1vh;
    margin-right: 12vw;
    background-color: gray;
    border-radius: 558px;
    z-index: 2;
} */

.kamen1 img {
    z-index: 1;
    object-fit: cover;
    /* width: 930px; */
    width: 55vw;
    height: auto;
    padding-right: 3vw;
    animation: magia1 1s forwards;
    
    
}
.kamen1 img:hover {
    animation: magia 1s forwards;
}
@keyframes magia {
    0% {opacity: 1;}
    100%{ opacity: 0;}
}
@keyframes magia1 {
    0% {opacity: 0;}
    100%{ opacity: 100;}
}

.kamen2 {
    display: inline-flex;
    margin-top: -53vh;
    width: 100%;
    justify-content: flex-start;
}
.first_absolute{
    position: relative;
    width: 100%;
    /* height: 89vh; */
}

.second_abslote {
    width: 100%;
    position: relative;
    /* min-height: 19vh; */
    min-height: 233px;
    margin-top: 18vh;
}
.kamen2 img {
    object-fit: cover;
    /* width: 693px; */
    width: 34vw;
    height: auto;
    padding-left: 5%;
    
}
.kamen3 {
    
    height: 437px;
    display: flex;
    justify-content: flex-end;
    /* width: 98%; */
    margin-top: -20vh;
}

.kamen3 img {
    object-fit: cover;
    position: absolute;
    /* width: 760px; */
    width: 55vw;
    height: 710px;
}

.fivth{
    z-index: 5;
}
.fourth {
    z-index: 4;
}
.third {
    z-index: 3;
}
.second {
    z-index: 2;
}
.first {
    z-index: 1;
}


.fivth:hover ~ .first{
    animation: krug 3s backwards;
}

.fivth:hover ~ .second{
    animation: krug 3s backwards reverse;
}


@keyframes krug {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}

    
}

.kamen4 {
    display: inline-flex;
    margin-top: -17vh;
    /* width: 100%; */
    justify-content: flex-start;
}

.kamen4 img {
    object-fit: cover;
    width: 74vw;
    height: auto;
    margin-left: -15vw;

}



.kamen5 {
    
    height: 1000px;
    display: inline-flex;
    justify-content: flex-end;
    width: 91vw;
    margin-top: 0vh;
}

.kamen5 img {
    object-fit: cover;
    position: absolute;
    /* width: 870px; */
    width: 46vw;
    height: auto;
}

.kamen6 {
    display: inline-flex;
    margin-top: -333px;
    width: 45%;
    justify-content: flex-end;
}

.kamen6 img {
    object-fit: cover;
    width: 443px;
    height: 453px;
    padding-left: 5%;

}

#kamni {
    width: 100%;
    margin-top: -100px;
}

#kamni img {
    object-fit: cover;
    width: 1163px;
    height: 540px;
}

#podval img{
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */

    height: 884px;
    width: 100%;
    
}
#montaz {
    position: absolute;
    font-weight: 400;
    font-size: calc(140px + 16 * (100vw / 1920));
    line-height: 240px;
    z-index: 3;
    margin-top: 3vh;
    margin-left: 54vw;
}